
@{
    ViewBag.Title = "Desa";
}

<h2>Desa</h2>

@*<script type="text/javascript" src="~/Scripts/NetChart.js"></script>*@

@section scripts{
    <script type="text/javascript">        
        $(function () {
            //helloNetChart();

            nc.saludar();
        });
    </script>
}