
@{
    //Layout = null;
    ViewBag.Title = "Desa";
}

<h2>Desa</h2>

<script type="text/javascript" src="~/Scripts/NetChart.js"></script>


<div id="cajaid" style="border:solid;width:700px;height:500px;">
    <h1>Aquí va el gráfico</h1>
</div>

@*<script type="text/javascript">

        window.onload = function () {

            var datos = '{"ChartType": 1, "Suggestions": [0, 1, 2], "VariableData": [20, 40, 60], "DimensionData": [10, 30, 50], "ZVariableData": [5, 7, 9]}';
            nc.select('#cajaid').draw(datos);

        };
</script>*@

@section scripts{
    <script type="text/javascript">        
        $(function () {
            //valores de los graficos ChartType
            //0 - debug
            //1 - barras
            //2 - lineas
            //3 - dispersión
            //4 - burbuja
            //5 - temperatura
            //6 - tarta
            //7 - radar

            //var datos = '{"ChartType": 6, "Suggestions": [0, 1, 2], "VariableData": [40, 20, 60], "DimensionData": [10, 30, 50], "ZVariableData": [5, 7, 9]}';
            var datos = '{"ChartType": 7, "Suggestions": [0, 1, 2], "VariableData": [40,20,60,10,30], "DimensionData": [10, 20, 30, 40, 50], "ZVariableData": [5, 7, 9, 10, 6]}';
            nc.select('#cajaid').draw(datos);
            //nc.testManual(datos);
        });
    </script>
}